html{
    color: #1c4587;
    font-family: "Lato", serif;
    padding: 0px;
    margin: 0px;
}

body{
    top: 0px;
    margin: 0px;
    margin-top: -15px;
    padding: 0px;
}

.top-container{
    background-color: #fffdd0;
    color: #000000;
    width: 100vw;
    padding-top: 60px;
    padding-bottom: 50px;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.introduction{
    width: 40vw;
    line-height: 1.2;
}

.top-container .image-container{
    margin-right: 125px;
}

.top-container .logo{
    width: 500px;
    height: 500px;
}

@media (max-width: 1200px){
    .top-container .logo{
        margin-top: 80px;
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 800px){
    .introduction{
        width: 90vw;
    }

    .top-container .image-container{
        display: none;
    }
}

.introduction #page-title{
    padding-top: 20px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 900;
}

.introduction #sub-title{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 50px;
    font-weight: 900;
}

.introduction #display-text1{
    margin: 0px;
    margin-top: 40px;
    padding-bottom: 30px;
    font-size: 20px;
}

.main-container{
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.main-container .title{
    font-size: 30px;
    font-weight: 900;
    
}

.color-background1{
    background-color: #c1c1c1;
    color: #3E3E3E;
}

.color-background2{
    background-color: #FFFFFF;
    color: #000000;
}

.first-part{
    margin: 0px;
    padding: 0px;
    height: auto;
    padding-bottom: 20px;
}

.first-content{
    width: 70%;
    margin: auto;
    text-align: left;
}

@media (max-width: 700px){
    .first-content{
        width:90%;
    }
}

.first-content .title{
    margin: 0px;
    padding-top: 40px;
}

.first-content .display-text{
    font-size: 20px;
}

.first-part .message{
    width: 95%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.23);
}

.first-part .message #display-text4{
    background-color: white;
    color: #000000;
    padding: 12px;
    display: block;
}

.second-part{
    padding-top: 40px;
    padding-bottom: 50px;
}

.second-part .second-content{
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.second-part .title{
    font-size: 40px;
}

.second-part .sub-title{
    font-size: 30px;
}

.second-part .display-content{
    font-size: 20px;
}

.second-part .second-content .content{
    width: 350px;
    margin-left: 20px;
    margin-right: 20px;
}